.container-home {
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(202, 202, 202);
    height: 90vh;
}

.container-transcation {
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(15, 139, 15);
    height: 90vh;
}

.container-list-tour {
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(187, 25, 25);
    height: 90vh;
}